* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

body {
  background: #131416;
  padding: 50px;
}

.carroussel {
  width: 100%;
  overflow: hidden;
}

.cards {
  display: flex;
  width: 200%;
  transition: all 0.3s;
}

.card {
  width: 16.66%;
  flex-shrink: 0;
  aspect-ratio: 2/3;
}

.card-background {
  width: 100%;
  height: 100%;
}
