* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100vh;
  background: #131416;
  padding: 50px;
}

.carroussel {
  width: 80%;
  overflow: hidden;
}

.cards {
  display: flex;
  width: 200%;
  transition: all 0.3s;
}

.card {
  position: relative;
  width: 16.66%;
  flex-shrink: 0;
  aspect-ratio: 2/3;
}

.card-background {
  width: 100%;
  height: 100%;
}
.card-background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-content {
  position: absolute;
  bottom: 5%;
  left: 5%;
}
